@import "../../styles/index.scss"; // contains mixins

/* Not set width & height here -- we'll let children elements determine that */
.App {
	background: #c2c2c2;
	padding: 16px;
	@include borders(white, #999);
}

.Header {
	background-color: #c0c0c0;
	padding: 10px 12px;
	@include borders(#7b7b7b, white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Body {
	margin-top: 16px;
	@include borders(#7b7b7b, white);
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(9, 1fr);
}

.Face {
	width: 52px;
	height: 52px;
	font-size: 35px;
	//@include borders(white, #7b7b7b);   // this will be default
	@include borders;
	@include buttons;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
